@import url(../scalar/scalar.css);

.vec3 .exclude {
  display: none !important;
}

.vec3,
.vec3 * {
    box-sizing: border-box;
    --outer-padding: var(--width) * 0.05;
    --total-width: calc(var(--width) + 2 * var(--input-range-height) + 2.0 * var(--outer-padding));
    --width: var(--vec3-component-internal-width);
    --height: var(--vec3-component-internal-height);
    --half-width: 50px;
    --centerZ: -50px;
    --center-size: 3px;
    --marker-border-width: 1px;
    --marker-border: var(--marker-border-width) solid;
    --plane-border-radius: calc(var(--width) * 1.00);
    --text-glow: 0 0 4px rgba(255, 255, 255, 0.6), 0 0 8px rgba(255, 255, 255, 0.4), 0 0 12px rgba(255, 255, 255, 0.2);
}

.vec3 {
  width: var(--total-width);
  border-radius: 0.5rem;
  background-color: #222;
  padding: calc(var(--width) * 0.05);
}

.vec3[data-expanded="0"] .panels,
.vec3 .panels > div {
  display: none;
}

.vec3[data-type="3D"] .panels {
    padding-top: 0.75rem;
    border-top: 1px solid #ddd;
}

.vec3[data-panel="L"] .panels > div[data-type="L"],
.vec3[data-panel="3D"] .panels > div[data-type="3D"] {
  display: block;
}

/* Gimbal style */

.vec3 .gimbal-control {
  width: calc(var(--width) + 2 * var(--input-range-height));
  height: calc(var(--width) + 1 * var(--input-range-height));
  position: relative;
}

.vec3 .gimbal {
  position: absolute;
  width: var(--width);
  height: var(--height);
  left: calc(0.5 * (var(--total-width) - var(--width)) - var(--width) * 0.05 - 0.5px);
}

.vec3 .gimbal-container {
  margin-left: var(--input-range-height);
}

/* TODO: Add firefox styles */

.vec3 .controls {
  position: absolute;
  top: calc(-1 * var(--input-range-height));
  left: 0;
  width: calc(var(--total-width) - 2 * var(--outer-padding));
  height: calc(var(--total-width) - 2 * var(--outer-padding));
}

.vec3 .controls > input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--input-range-height);
  background: transparent;
}

.vec3 .controls > input.length {
  height: var(--scale-height);
}

.vec3 .controls .horizontal {
    transform: 
      translateX(calc(var(--input-range-height) - 3px)) translateY(calc(var(--height) + var(--input-range-height) - 2px));
}

.vec3 .controls .vertical {
    transform-origin: center left;
    transform: rotateZ(90deg) translateY(calc(-.5 * var(--input-range-height))) translateX(calc(0.5 * var(--input-range-height)));
}

.vec3 .controls .length {
    transform-origin: center right;
    transform: rotateZ(-90deg) translateY(calc(1.25 * var(--input-range-height))) translateX(calc(-0.5 * var(--input-range-height)));
}

/* Panel */

.vec3 header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: 0.67rem "Helvetica, Arial", monospace;
  line-height: 1.25rem;
  padding: 0 0.125rem 0.0rem 0.125rem;
  /* border-radius: 0.25rem;*/
  border: none;
}

.vec3[data-expanded="1"] header {
  padding-bottom: 0.25rem;
}

.vec3[data-expanded="1"][data-panel="3D"] header {
  padding-bottom: 0.35rem;
}

.vec3 header .panel-selector {
  flex: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.vec3 header div {
  margin-right: 0.1rem;
  color: #fff;
}

.vec3[data-expanded="0"] header .panel-selector {
  display: none;
}

.vec3 header .panel-selector > div {
  margin: 0 .125rem;
}

.vec3 header .panel-selector > div[data-type] {
  opacity: 0.5;
  font-weight: 100;
  color: #fff;
  height: 1.25rem;
  cursor: default;
}

.vec3[data-panel="3D"] header .panel-selector > div[data-type="3D"] {
  opacity: 1.0;
  text-shadow: var(--text-glow);
}

.vec3[data-panel="L"] header .panel-selector > div[data-type="L"] {
  opacity: 1.0;
  text-shadow: var(--text-glow);
}

.vec3 header > div.label {
  margin-left: 0.25rem;
  flex: 1;
  color: #fff;
}

.vec3 header input {
  margin: 0 0.25rem;
  padding: 0;
}
.vec3 .list-control > div {
  padding-bottom: 0.25rem;
}

.vec3 .list-control input[type="range"],
.vec3 .list-control input[type="number"] {
  width: 100%;
}

.vec3 .list-control input[type="number"] {
  margin: 0.25rem 0;
  font-size: 0.67rem;
}

.vec3 .list-control input[type="number"]:last-child {
  margin-bottom: 0;
}
