.scalar .parameter {
  background-color: var(--component-color-background);
  color: var(--component-color-accent-1);
  padding: 3px 0px 3px 9px;
  border-radius: 6px;
  margin: var(--component-margin);
  width: var(--ui-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.scalar .parameter>label {
  display: block;
  white-space: nowrap;
  margin-top: 2px;
  width: 4.5rem;
}

.scalar.auto-label .parameter>label {
  width: auto;
}

.scalar .parameter>input {
  display: block;
  height: var(--component-range-height);
}

.scalar .parameter>input[type="range"] {
  flex: 1;
}

.scalar .parameter .digits {
  margin-left: 8px;
  width: 3.0rem;
  text-align: right;
  color: var(--component-color-accent-1);
  background-color: var(--component-color-background);
}

.scalar>.parameter {
  padding: 2px 8px 2px 10px;
  margin-left: 0;
  margin-right: 0;
}

.scalar>.parameter>label {
  margin-right: 8px;
}

.scalar .icon-button {
  margin-left: 6px;
}