.ui-component.modifier {
  padding-left: 1rem;
  --ui-width: calc(var(--ui-width) - 1rem);
  --component-color-background: var(--component-color-background-modifier);
  margin-bottom: 2px;
}

.ui-component.modifier .container {
  background-color: var(--component-color-background);
  border-radius: 6px;
}

.ui-component.modifier .container .base {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ui-component.modifier .container > *:last-child {
  padding-bottom: 2px;
}

.ui-component.modifier.bypass .container > *:not(.modifier-header) {
  opacity: 0.5;
}

.ui-component.modifier-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: var(--component-color-accent-1);
  padding: 6px 8px 0px 10px;
  margin-bottom: -3px;
}

.ui-component.modifier-header button {
  all: unset;
  appearance: none;
  border: none;
  outline: none;
}

.ui-component.modifier-header button.bypass {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  height: 16px;
  width: 16px;
  max-height: 16px;
  margin-top: -4px;
  margin-left: -2px;
}

.ui-component.modifier-header button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 1000px;
  overflow: hidden;
  height: 20px;
  width: 20px;
}

.ui-component.modifier-header button.bypass > svg {
  width: 16px;
  height: 16px;
  max-height: 16px;
}

.ui-component.modifier-header button.bypass:hover {
  border-radius: 3px;
  width: 16px;
  height: 16px;
  max-height: 16px;
}

.ui-component.modifier-header button:disabled {
  opacity: 0.25;
  background-color: transparent !important;
}

.ui-component.modifier-header .icon > svg {
  height: 18px;
}

.ui-component.modifier-header .title {
  flex-grow: 1;
}

.ui-component.modifier-header .menu {
  display: flex;
  flex-direction: row;
}
