.ui-component.modifier {
  padding-left: 1.0rem;
  --ui-width: calc(var(--ui-width) - 1.0rem);
}

.ui-component.modifier .container {
  background-color: var(--component-color-background);
  border-radius: 6px;
}