.buttons .button-wrapper {
  padding-left: 1px;
  padding-right: 1px;
}

.buttons .button-wrapper:last-child {
  padding-right: 0;
}

.buttons .button-wrapper:first-child {
  padding-left: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1px;
}

.buttons button.color-1 {
  /* border-color: var(--color-1); */
  color: var(--color-1);
}

.buttons button.color-2 {
  /* border-color: var(--color-2); */
  color: var(--color-2);
}

.buttons button.color-3 {
  /* border-color: var(--color-3); */
  color: var(--color-3);
}

.buttons button.color-4 {
  /* border-color: var(--color-4); */
  color: var(--color-4);
}

.buttons button.color-5 {
  /* border-color: var(--color-4); */
  color: var(--color-5);
}

.buttons button {
  background: var(--component-color-background);
  color: var(--component-color-accent-1);
  border-radius: 0.25rem;
  font-weight: 300;
  letter-spacing: 0.033rem;
  height: var(--component-collapsed-height);
  border: 1px solid transparent;
  margin: 0;
  width: 100%;
  transition: background-color 0.125s ease;
}

.buttons button[disabled] {
  opacity: 0.5;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button:hover {
  background: var(--component-color-background-1);
}

.buttons button:active {
  background: var(--component-color-background-down);
}