.ui-control.dropdown {
  width: 100%;
  max-width: var(--ui-width);
  display: flex;
  flex-direction: row;
  height: var(--component-collapsed-height);
  gap: 1px;
}

.ui-control.dropdown select {
  flex: 1;
  height: 100%;
  width: 100%;

  outline: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 0.5em;
  padding-right: 24px;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  background: var(--component-color-background);
  color: var(--component-color-accent-1);
  border-radius: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.033rem;
  height: var(--component-collapsed-height);
  border: 1px solid transparent;
}

.ui-control.dropdown .select-wrapper {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: var(--component-color-background);
  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.ui-control.dropdown .select-wrapper {
  height: 100%;
}

.ui-control.dropdown .edit-input,
.ui-control.dropdown .trigger {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  right: 30px;
  bottom: 0;
}

.ui-control.dropdown .edit-input {
  display: none;
  top: 2px;
  bottom: 2px;
  left: 2px;
  background-color: var(--component-color-background-1);
  border: 1px solid var(--component-color-accent-2);
  border-radius: 0.25rem;
  outline: 0;
  color: var(--component-color-accent-1);
}

.ui-control.dropdown .select-wrapper::after {
  content: "▼"; /* Or use an SVG/image for a cleaner look */
  position: absolute;
  top: 50%; /* Center vertically */
  right: 0.5rem; /* Position from the right edge */
  transform: translateY(-50%) scaleX(1.25); /* Fine-tune vertical centering */
  z-index: 1; /* Place the arrow *below* the select's clickable area */

  /* Style the arrow */
  color: var(--component-color-accent-1); /* Change this to change arrow color */
  font-size: 0.6rem; /* Adjust size */
  pointer-events: none; /* Crucial: ensures clicks go through to the select element */
}

.ui-control.dropdown button {
  background: var(--component-color-background);
  color: var(--component-color-accent-1);
  border-radius: 0.5rem;
  font-weight: 300;
  letter-spacing: 0.033rem;
  width: var(--component-collapsed-height);
  height: var(--component-collapsed-height);
  margin: 0;
  border: 1px solid transparent;
  border-color: var(--component-color-accent-2);
  transition: background-color 0.125s ease;
}

.ui-control.dropdown button:hover {
  background: var(--component-color-background-1);
}

.ui-control.dropdown button:active {
  background: var(--component-color-background-down);
}

.ui-control.dropdown button.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: var(--component-color-accent-1);
}
