@import "./ui/components/shared.css";

:root {
  /* COMPONENT GLOBALS */
  /* Need to be defined in pixels! */
  --ui-width: 320px;
  --component-color-background: #222;
  --component-color-background-modifier-audio: #222244;
  --component-color-background-modifier-lfo: #224422;
  --component-color-background-1: #444;
  --component-color-background-down: #1e1e1e;
  --component-color-accent-1: #ddd;
  --component-color-accent-2: #444;
  --component-padding: 5px;
  --component-margin: 1px;
  --component-range-height: 24px;
  --component-input-height: 22px;
  --component-collapsed-height: 28px;
  --component-border-radius: 8px;
  --color-0: var(--component-color-accent-1);
  --color-1: #10d5a4;
  --color-2: #ecaa70;
  --color-3: #93a0f1;
  --color-4: #e776c1;
  --color-5: #dd5000;
}

input[type="text"] {
  border: none;
  border-radius: 3px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

body * {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#debug {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: scroll;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

#canvas {
  width: 100%;
  height: 100%;
}

#controls {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px;
  border-top-left-radius: 0.5rem;
  background-color: none;
}

#controls>* {
  filter: drop-shadow(rgba(0, 0, 0, 0.75) 0px 0px 3px);
}

button,
#controls {
  /*font-family: 'Courier New', Courier, monospace;*/
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#controls {
  display: none;
}

#controls[data-show="1"] {
  display: block;
  max-height: 100%;
  overflow-y: auto;
}

.ui-control {
  margin: 0.125rem 0;
}