.ui-control.seed {
  width: var(--total-width);
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;

  background-color: var(--component-color-background);
  color: var(--component-color-accent-1);
  padding: 3px 10px;
  border-radius: 6px;
  margin: var(--component-margin);
  width: var(--ui-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.ui-control.seed button {
  cursor: default;
  margin-left: 0.0rem;
  background-color: transparent;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  color: var(--component-color-accent-1);
  border: none;
}

.ui-control.seed button[disabled] {
  opacity: 0.5;
}

.ui-control.seed button:hover {
  text-decoration: underline;
}

.ui-control.seed button[disabled]:hover {
  text-decoration: none;
}

.ui-control.seed > label {
  display: block;
  white-space: nowrap;
  margin-top: 2px;
  width: 4.5rem;
  margin-right: 8px;
}

.ui-control.seed .rnd-button {
  padding: 0 0.5rem;
  font-size: 18px;
  position: relative;
  top: -2px;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.ui-control.seed > input {
  display: block;
  height: var(--component-input-height);
  padding: 0 5px;
  flex: 1;
  outline: none;
  background-color: var(--component-color-background-1);
  color: var(--component-color-accent-1);
  border: none;
  min-width: 0;
}