.ui-component.modifier.audio .container[data-analysis-type="levels"] .beat-property,
.ui-component.modifier.audio .container[data-analysis-type="beat"] .levels-property {
  display: none !important;
}

.ui-component.modifier.audio {
  --component-color-background: var(--component-color-background-modifier-audio);
}

.ui-component.modifier.audio .base,
.ui-component.modifier.audio .base .parameter,
.ui-component.modifier.audio .base .parameter input {
  background-color: var(--component-color-background-modifier-audio-base);
}